
src/Release/
bin/Data/RunTimeErrors.log
src/Debug/
src/FileSys/FSutil/Debug/
src/FileSys/FSutil/*.user
src/FileSys/FSutil/Release/
src/*.user
src/*.ncb
src/*.suo
src/TinyXml/tinyxml_2_5_3.zip
bin/Krkal.bsc
bin/KRKAL.ilk
bin/Krkal.pdb
src/KRKAL.2005.sdf
src/KRKAL.2005.opensdf
src/ipch
src/ReleaseDebug
bin/Data/compiler/files/semantic.out
bin/Data/compiler/files/syntax.out
bin/Profiles
